.carContainer {
  position: relative;
  background-color: red;
  height: 60vh;
  width: 100vw;
}

.categoryContainer {
  color: #FFFFFF;
  position: relative;
  background-color: blue;
  height: 30vh;
  width: 100vw;
  text-align: center;
}

.categoryContainer h3 {
  padding-top: 5vh;
}

.categoryContainer p {
  margin: 2vh auto;
  line-height: 1.5em;
  max-width: 80%;
}
