.carContainer {
  position: relative;
  background-color: red;
  height: 500px;
  width: 100vw;
}

.categoryContainer {
  color: #FFFFFF;
  position: relative;
  background-color: blue;
  height: 300px;
  width: 100vw;
  text-align: center;
}

.categoryContainer h3 {
  padding-top: 5vh;
}

.categoryContainer p {
  margin: 2vh auto;
  line-height: 1.5em;
  max-width: 80%;
}

.categoryGrid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  padding: 20px;
}

.categoryItem {
  background-color: black;
  height: 0;
  padding-bottom: 100%;
  width: 100%;
}
