@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

@media only screen and (max-width: 600px) {
  body {
      background-image: linear-gradient(#002F67, #001834);
  }
}

body {
  height: 100vh;
}

* {
  padding: 0px;
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  overflow: hidden;
}

/* .active {
  background-color: #4CAF50;
} */

nav a:visited, nav a:hover, nav a:active, nav a:link {
  color: #FFFFFF;
  text-decoration: none;
}

.navFlex {
  z-index: 5;
  overflow-x: hidden;
  background-color: #002F67;
  display: flex;
  width: 100vw;
  height: 10vh;
  justify-content: space-between;
}

.burgerBlock {
  display: flex;
  justify-content: center;
  flex: 1;
}

.burger {
  position: absolute;
  top: 5vh;
  transform: translateY(-50%);
}

.burger:hover {
  cursor: pointer;
}

.burgerList {
  /* Makes it so you can click through the element on underlying elements */
  pointer-events: none;
  z-index: 5;
  position: absolute;
  top: 10vh;
  left: 50vw;
  height: 90vh;
  width: 50vw;
}

.magicBox {
  width: 100%;
  height: 100%;
  background-color: #002F67;
  transform: translateX(100%); /* 100% */
  transition: 0.4s ease;
}

.magicBox p {
  pointer-events: all;
}

.burgerActive {
  transform: translateX(0%);
}

.listGrid {
  display: grid;
  /* 1 column, first item 50px, second item with the fr unit is a flex factor, taking up a part of the remaining space. Works like "flex: 1" in flexboxes */
  grid-template-columns: repeat(1, 1fr 2fr);
  grid-gap: 10px;
  padding: 20px;
  align-items: center;
}

.listGrid p {
  /* Space between list items */
  padding: 10px 0px;
  color: #FFFFFF;
}

.listTop {
  position: absolute;
  top: 10%;
}

.listBottom {
  position: absolute;
  bottom: 10%;
}

.line1, .line2, .line3 {
  position: relative;
  background-color: #FFFFFF;
  height: 3px;
  width: 25px;
  margin: 6px 0px;
}

.logo {
  position: relative;
  color: #FFFFFF;
  flex: 3;
  text-align: center;
}

.logo img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* SEARCH SECTION */
.search {
  position: relative;
  flex: 1;
  display: flex;
}

.searchBox {
  position: absolute;
  display: flex;
  top: 5vh;
  left: 50%;
  height: 33px;
  width: 33px;
  border-radius: 50px;
  background-color: #DEDEDE;
  transform: translate(-50%, -50%);
  transition: 1s ease;
}

.searchActive {
  width: 500px;
}

.searchBox img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

nav input {
  display: flex;
  /* float: left; */
  background: none;
  border: none;
  outline: 0;
  /* justify-content: center; */
  /* align-items: center; */
  margin: 0px 5px;
  width: 260px;
  font-size: 16px;
}

.searchIcon {
  float: right;
  width: 40px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/*Charlotte her

#signupBtn {
  margin-top: 20px;
  margin-bottom: 20px;
  background: #9CD9B8;
  color: #001834;
  border-radius: 44px;
  text-align: center;
  cursor: pointer;
  transition: 0.8s;
  border: none;
}

#signupBtn:hover {
  transform: scale(0.96);
}
*/
