h2 {
  color: white;
  font-size: 20px;
  text-align: center;
  margin-top: 2vh;
}

.scanButton {
  text-decoration-color: white;
  width: 65%;
  height: 6vh;
  margin-top: 3vh;
  margin-left: 17vw;
  background: #9CD9B8;
  color: #001834;
  border-radius: 44px;
  text-align: center;
  cursor: pointer;
  transition: 0.2s;
  border: none;
  font-weight: bold;
  font-size: 16px;
}

.scanButton:hover {
  transform: scale(0.96);
}

.regningList {
  margin-top: 2vh;
  list-style-type: none;
  background: #002f67;
  color: white;
}

.regningList li {
  padding: 20px;
  font-size: 1em;
}

.regningList li:nth-child(2n) {
  width: 110%;
  margin-left: -3.2vw;
  padding-left: 8.2vw;
  background: blue;
  color: white;
}
