h2 {
  color: white;
  font-size: 20px;
  text-align: center;
  margin-top: 2vh;
}

/* POP UP START */

.knapperPopup {
justify-content: center;
}

#scanPicture {
  margin-top: 2vh;
  margin-left: 17vw;
  width: 65vw;
  height: 6vh;
  border: none;
  border-radius: 44px;
  font-size: 16px;
  background: #9CD9B8;
  color: #001834;
  border-radius: 44px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}

.billedeUpload {
  width: 40vw;
  height: 6vh;
  background: #002f67;
  border-radius: 44px;
  justify-content: center;
  margin-left: 21vw;
  margin-top: 1vh;
}

input {
  display: block;
  width: 70vw;
  height: 4vh;
  text-align: center;
  display: block;
  box-sizing: border-box;
  outline: none;
  border: none;
  border-bottom: 2px solid white;
  position: relative;
  margin: 3vh 6vw;
  background: none;
  font-size: 16px;
  color: white;
}

/* Pop up'en til terms and conditions */
.popupRegninger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
  display: none;
  color: white;
}

#popup {
  width: 84%;
  z-index: 2;
  background: #002f67;
  border-radius: 8px;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1E437D;
}

#popup h3 {
  margin: 20px 0 0 0;
  padding: 0;
}

#popup p {
  margin: 15px;
  padding: 0;
}

#popup .button-holder a {
  color: white;
  text-decoration: none;
  line-height: 45px;
  font-weight: bold;
  display: block;
  border-top: 1px solid black;
}
.popupActive {
  display: block;
}

/* POP UP SLUT */

/* LISTE FUNKTION START */

.scanButton {
  text-decoration-color: white;
  width: 65%;
  height: 6vh;
  margin-top: 3vh;
  margin-left: 17vw;
  background: #9CD9B8;
  color: #001834;
  border-radius: 44px;
  text-align: center;
  cursor: pointer;
  transition: 0.2s;
  border: none;
  font-weight: bold;
  font-size: 16px;
}

.scanButton:hover {
  transform: scale(0.96);
}

.regningList {
  margin-top: 2vh;
  list-style-type: none;
  background: #002f67;
  color: white;
}

.regningList li {
  padding: 20px;
  font-size: 1em;
}

.regningList li:nth-child(2n) {
  width: 110%;
  margin-left: -3.2vw;
  padding-left: 8.2vw;
  background: blue;
  color: white;
}

/* LISTE FUNKTION SLUT */
