body {
  	background-image: url(../images/loginbg.png);
    /* Shadow goes inward from every 0 point, up to 1000px */
    box-shadow: inset 0 0 0 1000px rgba(0,47,103,.8);
}

.searchContainer {
  position: relative;
  height: 90vh;
  width: 100vw;
}

.searchContainer h1 {
  position: relative;
  text-align: center;
  top: 15vh;
  color: #FFFFFF;
}

.searchBar {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 40%;
}

input {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 70vw;
  height: 30px;
  font-size: 24px;
  /* Removes decorations */
  border:none;
  background-color:transparent;
  outline: none;
  text-align: center;
  color: #FFFFFF;
}

.inputBox img {
  position: relative;
  right: -5vw;
}

button {
  position: relative;
  margin-top: 2vh;
  font-size: 20px;
  height: 40px;
  width: 100px;
  background-color: #9CD9B9;
  border-style: none;
  border-radius: 3em;
  left: 50%;
  transform: translateX(-50%);
}

.inputLine {
  position: relative;
  background-color: #FFFFFF;
  height: 2px;
  width: 72vw;
  left: 50%;
  margin-top: 3px;
  transform: translateX(-50%);
}

.loginOption {
  position: relative;
  top: 60vh;
}

.loginButton {
  width: 150px;
}

/*
.loginContainer {
  color: #FFFFFF;
  position: relative;
  background-color: blue;
  height: 70vh;
  width: 100vw;
  text-align: center;
}

.loginContainer h3 {
  padding-top: 5vh;
}

.loginContainer p {
  margin: 2vh auto;
  line-height: 1.5em;
  max-width: 80%;
}

.loginButton {
  position: relative;
  top: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 5vh;
  width: 30vw;
  background-color: pink;
} */
